deneme.txt filter=lfs diff=lfs merge=lfs -text
inek.txt filter=lfs diff=lfs merge=lfs -text
can.txt filter=lfs diff=lfs merge=lfs -text
dana.txt filter=lfs diff=lfs merge=lfs -text
ns.txt filter=lfs diff=lfs merge=lfs -text
x.txt filter=lfs diff=lfs merge=lfs -text
x.track filter=lfs diff=lfs merge=lfs -text
m.txt filter=lfs diff=lfs merge=lfs -text
c.txt filter=lfs diff=lfs merge=lfs -text
